/* color palette:
 - green: #32A620
 - darkgreen: #397F19
 - tan: #F7F1CD
 - rust: #7D1921
 - navy: #2E3959
*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
    margin:0px;
    padding:0px;
    background-color:#397F19;
    font-family: 'Helvetica', sans-serif;
    font-size:12pt;
}
div, p {
    margin:0px;
}

/******** Overall Layout Styles **********/

/* Ported from base: */
.bluebg {background-color:lightblue;}
.opOn, .wlOn, .rsOff {color:green;}
.opOff, .wlOff, .rsOn {color:red;}
.rdOff {color:black;}
.rdOn {color:red;}
.rsNA, .station_waiting {color:gray;}
.station_disabled {color:gray;}

#lastRun {color:gray;}
#stations {width:100%;}
#pluginMenu{display: none; z-index: 99}
.program {line-height:22px}
.strike {text-decoration:line-through;}

.progstation_on {background-color:#9AFA9A; color:black; font-size:10pt}
.progstation_off {background-color:white; color:lightgray; font-size:10pt}

button#tooltip {height:24px;}
.tooltip {background-color:#FFF2B8; display:none; font-size:10pt; margin-left:4px;}
.label {font-weight:bold; float:left; width:160px; text-align:right; padding-right:4px;}
.option {margin: 6px 0px; clear:both;}

td.stationNumber, td.stationShow, td.stationIgnore, td.activateMaster {text-align:center}
td.stationName {text-align:left; padding-left:1em;}

table td.shrink {
    width: 1px;
    white-space:nowrap
}
table td.expand {
    width: 99%
}

div.header {
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: 42px 20px;
    background-color: #32A620;
    height:80px;
}

div.header div.title {
    font-family: 'Quicksand', sans-serif;
    font-size: 24pt;
    text-transform:uppercase;
    text-align:right;
    color:white;
    padding-top:35px;
    padding-right:16px;
}

div.header div.titlenote {
    font-size: 10pt;
    color:white;
    padding-left:8px;
}

div.footer {
    background-image: url(grass.jpg);
    background-position: top right -200px;
    background-repeat: no-repeat;
    background-color: #32A620;
    color:white;
    text-align: right;
    padding: 16px 170px 16px 16px;
    font-size:9pt;
    clear: both;
}

div.content {
    background-color: #FCFAEB;
    color:black;
}

div.body {
    margin:0px;
    padding:0px;
    background-image: url(grass.jpg);
}

div.panel {
    margin-left: 240px;
    padding:12px;
    background-color: white;
    min-height: 200px;
}

div.panel div.title {
    font-weight: 700;
    font-size: 20pt;
    margin-bottom: 8px;
}

div.controlblock, div.simpleblock, div.simpleinlineblock {
    border:3px solid #2E3959;
    border-radius: 12px;
    margin: 8px 0px;
}

div.simpleinlineblock {
    display: inline-block;
}

div.controlblock p, div.controlblock div {
    padding: 2px 24px;
}

span.stationName:after {
    content: ",";
}
span.stationName:last-child:after {
    content: "";
}

.program {
    width:50%;
}

.program p:first-child {
    background-color: #2E3959;
    color: white
}

.program.disabled {
    border-color: #7D1921;
}
.program.disabled p:first-child {
    background-color: #7D1921;
    color: white
}
/******** General Global Styles **********/

#errorHint {
    color: #7D1921;
}
.inputError {
    color: #7D1921;
}
.showInterval {
    text-align:center;
}

.program p:first-child .val {
    color: white;
}
.val {
    font-weight: 700;
    color: #397F19;
}

/******** Clock Styles **********/

div#status {
    float:left;
    width: 240px;
    text-align:center;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    padding-top: 23px;
    padding-bottom: 12px;
    background-color: #397F19;
    opacity: .85;
}
#deviceTime {
    font-size: 24pt;
}
#deviceTime span {
    display:inline-block;
    position:relative;
    top: 6px;
    font-size:42pt;
    width: 60px;
    text-align:center;
    letter-spacing: -3px;
}
#deviceTime span.sep {
    text-align: center;
    width: 8px;
    font-size: 24pt;
    top: -4px;
}
#deviceTime span.hour {
    text-align:right;
}
#deviceTime span.second {
    text-align:left;
    font-size:18pt;
    letter-spacing: -1px;
    top: -16px;
    left: 6px;
    width: 36px;
}
#deviceTime span.ampm {
    position:relative;
    top:6px;
    left: -32px;
    font-size:18pt;
    width: 36px;
    text-transform:uppercase;
    letter-spacing: 0px;
    text-align: right;
}
#deviceDate {
    margin-top:16px;
    font-weight:400;
}

.countdown, .rainsense {
    color: #7D1921;
    font-family: Quicksand, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    text-transform:uppercase;
}


/******** Navigation Button Styles **********/

#nav {
    margin-bottom:16px;
}
#nav .button {
    background-color: #2E3959;
    border: 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Quicksand, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 14pt;
    margin: 4px 4px;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
    word-spacing: normal;
}
#nav .button.here {
    background-color: #32A620;
}
#nav .button.home {
    background-image: url('home.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 0px;
    height: 18px;
}

/******** Button Styles **********/

button, .button {
    padding: 4px 12px;
    font-family: Quicksand, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 14pt;
    color: white;
    background-color: #397F19;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    margin: 2px 0;
    display: inline-block;
}
button:hover, .button:hover {
    color: #F7F1CD;
}
button.on, .button.on {
    background-color: #397F19;
}
button.off, .button.off {
    background-color: #7D1921;
}
button.execute, .button.execute {
    background-color: #2E3959;
}

button.toggle, .button.toggle {
    background-repeat: no-repeat;
    background-position: center center;
    width: 304px;
    padding: 4px;
    text-align: center;
    color: #DDD;
}
button.toggle.on, .button.toggle.on {
    background-color: #397F19;
    background-image: url('on.png');
}
button.toggle.on:hover, .button.toggle.on:hover {
    color: #F7F1CD;
    background-image: url('off.png');
}
button.toggle.off, .button.toggle.off {
    background-color: #7D1921;
    background-image: url('off.png');
}
button.toggle.off.choice, .button.toggle.off.choice {
    background-color: #397F19;
    background-image: url('off.png');
}
button.toggle.off:hover, .button.toggle.off:hover {
    color: #F7F1CD;
    background-image: url('on.png');
}
button.toggle span.togglesep, .button.toggle span.togglesep {
    display: inline-block;
    width: 50px;
}
button.toggle span.toggleleft, .button.toggle span.toggleleft {
    display: inline-block;
    text-align: right;
    width: 120px;
}
button.toggle span.toggleright, .button.toggle span.toggleright {
    display: inline-block;
    text-align:left;
    width: 120px;
}
button.toggle.on span.toggleright, button.toggle.off span.toggleleft, .button.toggle.on span.toggleright, .button.toggle.off span.toggleleft {
    font-weight: 400;
}
button.toggle.off span.toggleright, button.toggle.on span.toggleleft, .button.toggle.off span.toggleright, .button.toggle.on span.toggleleft {
    font-weight: 700;
    color: white;
}

#controls button#cSubmit, #controls .button#cSubmit {
    background-color: #397F19;
}
#controls button#cSubmit:disabled, #controls .button#cSubmit:disabled {
    background-color: #AAA;
}
button.danger, .button.danger, .minibutton.danger {
    background-color: #7D1921;
}

button.toggle.narrow, .button.toggle.narrow {
    width: 140px;
}
button.toggle.narrow span.toggleright, button.toggle.narrow span.toggleleft, .button.toggle.narrow span.toggleright, .button.toggle.narrow span.toggleleft {
    width: 36px;
}

#options button, #controls button, #options .button, #controls .button {
    margin: 4px 0px;
}

button.pushon.on, .button.pushon.on {
    font-weight: 700;
}

.program .button.toggle {float:right; width:130px; margin:0px !important; padding:0px; background-color:transparent}
.program .button.toggle span.toggleleft {width: 30px;}
.program .button.toggle span.toggleright {width: 30px;}



.minibutton {
    padding: 2px 6px;
    font-family: Quicksand, sans-serif;
    font-size: 9pt;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 10pt;
    color: white;
    background-color: #397F19;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    margin: 1px 0;
    display: inline-block;
}

input.timeInput {
    font-size:12pt;
}

input[type=number] {
    width: 60px;
}
/******** Station Table Styles **********/

#programmode {
    overflow: auto;
}

table.optionList {
    border:3px solid #2E3959;
    border-radius: 12px;
    padding: 4px;
    border-spacing: 0px;
    empty-cells: show;
    border-collapse: separate;
}

table.advancedSchedule {
    padding: 4px;
    border-spacing: 0px;
    empty-cells: show;
    border-collapse: separate;
    width: 100%;
}
table.stationList {
    border:3px solid #2E3959;
    border-radius: 12px;
    padding: 4px;
    border-spacing: 0px;
    empty-cells: show;
    border-collapse: separate;
}
td.station_name {
    text-align: right;
    padding: 0px 12px;
    color: #2E3959;
    font-weight: 700;
    width: 12em;
    height: 30px;
    white-space: nowrap;
}
table.stationList td {
    text-transform: uppercase;
    margin-bottom: 1px;
}
table.stationList td.station_name {
    text-transform: none;
}
tr.even {
    background-color: #DDD;
}
td.stationStatus {
    color: white;
    background-color: #7D1921;
    padding: 0px 12px;
    border-bottom: 2px solid white;
}
td.stationStatus.station_on {
    background-color: #32A620;
}
td.stationStatus.station_off {
    background-color: #7D1921;
}
td.stationStatus.station_waiting {
    background-color: #397F19;
}
td.stationStatus.station_disabled {
    background-color: #AAA;
}

td.stationOn.dayOn {
    background-color: #32A620;
    text-align:center;
    color:white;
    border-radius: 6px;
    background-image: url('checkmark.png');
    background-position: center center;
    background-repeat: no-repeat;
}
td.stationOn {
    background-color: #F7F1CD;
    border-radius: 8px;
}
td.dayOn {
    background-color: #F7F1CD;
    border-radius: 8px;
}


table.logList {
    padding: 4px;
    margin: 1em 0em;
}
table.logList td {
    padding: 0px 12px;
}
table.logList th {
    padding: 0px 12px;
    border-bottom: 2px solid #2E3959;
}

table.adjustmentList {
    padding: 8px 0px;
}
table.adjustmentList td {
    padding: 2px;
}
table.adjustmentList td.adjValue, table.adjustmentList th.adjValue {
    text-align: right;
}
table.adjustmentList th {
    padding: 2px;
    border-top: 2px solid #2E3959;
    text-align: left;
}

/******** Interval Selector Styles **********/

.animatedSelector {
    font-size: 26px;
    text-align:center;
    width: 500px;
    display: inline-block;
    vertical-align: middle;
}
.intervalSelect {
    line-height: 60px;
    border-radius: 12pt;
    padding: 3px;
    cursor: pointer;
}
.intervalSelect.distance0 {
    background-color: #32A620;
    color: white;
}
.intervalSelect:hover {
    border: 2px solid #32A620;
}
.intervalSelect.distance1 {
}
.intervalSelect.distance2 {
}


/******** Collapsible Styles **********/
.collapsible > h4, .collapsible > h5 {
    color:white;
    background-color: #2E3959;
    background-repeat: no-repeat;
    background-position: 3px center;
    padding: 4px 4px 4px 24px;
    margin: 3px;
    cursor: pointer;
}
.collapsible > h5 {
    margin-left: 10px;
}
.collapsible.collapsed > h4, .collapsible.collapsed > h5 {
    background-image:url(collapsed.png)
}
.collapsible.expanded > h4, .collapsible.expanded > h5 {
    background-image:url(expanded.png)
}

.collapsible.collapsed div {
    display:none;
}
.collapsible.expanded div {
}

/******** Schedule graph Styles **********/

td.stationSchedule {
    padding: 0px;
}
.scheduleMarkerContainer {
    margin:0px;
    padding:0px;
    height:28px;
    position:relative;
}
.scheduleMarker, .existingProgram {
    position:absolute;
    top: 0px;
    height:28px;
}

.addStartMarker {
    position:absolute;
    top: 10px;
    background-color: #397F19;
    height:18px;
    width: 2px;
}
.addStopMarker {
    position:absolute;
    top: 10px;
    background-color: hsl(0,80%,40%);
    height:18px;
    width: 2px;
}

.nowMarker {
    position:absolute;
    top: 0px;
    background-color: #7D1921;
    height:28px;
}
.nowMarker.on {
    background-color: #397F19;
}
.scheduleMarker .markerDetail {
    display:none;
}
.scheduleTick {
    position: relative;
    font-size: 9px;
    text-align:center;
    color: #2E3959;
    border-right:1px solid #2E3959;
}
.scheduleTick:last-child {
    border-right: none;
}

.program0 {background-color: hsl(50,80%,40%)}
.program1 {background-color: hsl(150,80%,40%)}
.program2 {background-color: hsl(225,80%,40%)}
.program3 {background-color: hsl(75,80%,40%)}
.program4 {background-color: hsl(175,80%,40%)}
.program5 {background-color: hsl(250,80%,40%)}
.program6 {background-color: hsl(100,80%,40%)}
.program7 {background-color: hsl(200,80%,40%)}
.program8 {background-color: hsl(275,80%,40%)}
.program9 {background-color: hsl(125,80%,40%)}
.programManual {background-color: hsl(25,80%,40%)}

.programStart {background-color: #397F19}
.programStop {background-color: hsl(0,80%,40%)}
.existingProgram {
    background-color: hsl(75,80%,40%);
}
.deleteProgram{
    display:block;
    float:right;
    width:8px;
    height:8px;
    background:url("redcross.png") no-repeat center center;
    cursor: pointer;
}

.schedule {
    background-image:url("whitestripes.png");
}
.blocked {
    background-image:url("redcross.png");
}

.showDetails, .newDetails, .newStart, .newStop{
    position: absolute;
    top: 100%;
    left:-50px;
    color:white;
    z-index:100;
    border-radius: 6px;
    display: inline-block;
    font-size: 10pt;
    margin: 3px;
    padding: 3px;
}
.showDetails{
    width: 100px;
}
.newDetails, .newStart, .newStop{
    width: 60px;
}

#displayScheduleDate {
    text-transform:none;
}

#legend span {
    padding:2px 6px;
    color:white;
    margin: 0px 4px;
    font-size:9pt;
}

#pluginLinks
{
    list-style-type: none;
    padding:0;
}

#pluginMenu
{
    border:3px solid #2E3959;
    border-radius: 12px;
    padding: 4px;
    border-spacing: 0px;
    background-color: white;
}

.program_label {
    text-align: right;
	padding: 0px 12px;
	color: #2E3959;
	font-weight: 700;
	width: 10em;
	white-space: nowrap;
    display:inline-block;
}

#help_container {
    min-height: 350px;
    display: table;
    box-sizing: border-box;
    width: 100%
}

#help_menu {
    vertical-align:top;
    display: table-cell;
    padding: 5px;
    border-right: solid 1px;
}

#help_contents {
    vertical-align:top;
    display: table-cell;
    width: 80%;
    padding:5px;
}

.help_link_1{
    margin-top: 10pt;
    font-size: 16pt;
    white-space: nowrap;
}
.help_link_2 {
    margin-top: 2pt;
    margin-left: 5pt;
    font-size: 12pt;
    white-space: nowrap;
}

.help_link_3 {
    margin-left: 10pt;
    font-size: 10pt;
    white-space: nowrap;
}

.help_link_1 a,.help_link_2 a, .help_link_3 a {
    text-decoration: none;
    color: #2E3959;
}

.plugin {
    border-color: #2E3959;
    background-color: #2E3959;
    color: white;
    vertical-align: middle;
    margin: 4px 0 !important;
}

.plugin.disabled {
    border-color: #7D1921;
    background-color: #7D1921;
}

.plugin .button.toggle {
    width:130px;
    background-color:transparent;
    margin: 0 !important;
}
.plugin .button.toggle span.toggleleft {width: 30px;}
.plugin .button.toggle span.toggleright {width: 30px;}

.plugin .button.open {
    border: 1px solid #397F19;
    margin: 0 !important;
}
.plugin .button.danger {
    border: 1px solid #7D1921;
    margin: 0 !important;
}
.plugin.disabled .danger {
    border: 1px solid #FFF;
    margin: 0 !important;
}

@media only screen and (max-width: 1024px) {
   body {
      font-size: 10pt;
   }

   div.panel {
      margin-left: 0;
   }
   div.panel div.title {
      font-size: 14pt;
   }
   div.header div.title {
      font-size: 16pt;
   }
   div#status {
      float: none;
      width: 100%;
      padding: 0;
      display: inline-block;
   }
   #deviceTime {
      float: left;
   }
   #deviceTime span {
      font-size: 21pt;
      width: 35px;
   }
   #deviceTime span.sep {
      font-size: 12pt;
      top: 0;
      width: 4px;
   }
   #deviceTime span.second, #deviceTime span.ampm {
      font-size: 9pt;
   }
   #deviceTime span.second {
      top: -5px;
      left: auto;
   }
   #deviceTime span.ampm {
      left: -55px;
   }
   #deviceDate {
      float: right;
      padding: 0 5px 5px 5px;
   }

   button, .button {
      font-size: 9pt;
   }

   .minibutton {
      padding: 0px 6px;
      font-size: 6pt;
   }

   #nav .button {
      padding: 4px 12px;
      margin: 4px 0;
      font-size: 9pt;
   }

   td.stationStatus {
      padding: 0 6px;
      font-size: 10pt;
   }
   td.station_name {
      font-size: 10pt;
   }

   .program {
      min-width: 400px;
   }

   #programs table tr:nth-child(2).showWeekly td {
      height: 90px;
      max-width: 26px;
   }
   #programs table tr:nth-child(2).showWeekly td button.weekday {
      -webkit-transform: rotate(-90deg);
      font-size: 8pt;
      height: 26px;
      width: 90px;
      text-align: left;
      margin-left: -24px;
   }

    .help_link_1 {
        margin-top: 8pt;
        font-size: 14pt;
    }
    .help_link_2 {
        font-size: 10pt;
    }
    .help_link_3 {
        font-size: 8pt;
    }
}
