$def with (docs)

$var title: Help
$var page: help


<script src="/static/scripts/help.js"></script>
<div id="help">
    <div class="title">Help</div>
    <div class="simpleblock" style="min-height: 350px; display: table; box-sizing: border-box; width: 100%">
        <div style="vertical-align:top; display: table-cell; min-width: 200px; padding:5px; border-right: solid 1px; text-wrap: none;">
            $for index, doc_entry in enumerate(docs):
                $if len(doc_entry) > 2:
                    <p class="help_link_${doc_entry[0]}"><a href="#${index}">${doc_entry[1]}</a></p>
                $else:
                    <b><p class="help_link_${doc_entry[0]}">${doc_entry[1]}</p></b>

        </div>
        <div id="help_contents" style="vertical-align:top; display: table-cell; width: 80%; padding:5px;">

        </div>
    </div>
</div>