$def with ()

$var title: Manage Plugins
$var page: plugins


<div id="controls">
    <div style="display: inline-block; padding: 0; float: right;">
        Automatic updates:
        <a href="/plugins_manage?auto=${'0' if options.auto_plugin_update else '1'}" class="button cDisable toggle ${'on' if options.auto_plugin_update else 'off'}">
            <span class='toggleleft'>On</span>
            <span class='togglesep'>&nbsp;</span>
            <span class='toggleright'>Off</span>
        </a>
    </div>
    <a href="/plugins_install" class="button add">Install new plugin</a>
    <a href="/plugins_manage?disable_all" class="button danger">Disable All</a>
    $ running_list = plugins.running()
    $ current_info = options.plugin_status
    $for plugin in plugins.available():
        $ running = plugin in running_list
        <div id="${plugin}" class="controlBlock plugin ${'' if running else 'disabled'}">
            <div style="display: inline-block; padding: 0; float: right;">
                <div style="display: inline-block; padding: 0; width: 90px;">
                $if running and plugins.get(plugin).LINK:
                    <a class="button open" href="${plugins.plugin_url(plugins.get(plugin).LINK)}">Open</a>
                </div>

                <div style="display: inline-block; padding: 0; width: 140px;">
                    $ available_info = plugins.checker.available_version(plugin)
                    $if available_info is not None:
                        <a class="button open" href="/plugins_install?repo=${available_info['repo_index']}&plugin=${plugin}&install">
                            $if plugin in current_info and current_info[plugin]['hash'] == available_info['hash']:
                                Up-to-date
                            $else:
                                Update
                        </a>
                    $else:
                        <a class="button open">No update</a>
                </div>

                <div style="display: inline-block; padding: 0; width: 90px;">
                    <a href="/plugins_manage?plugin=${plugin}&delete" class="button danger">Delete</a>
                </div>
            </div>

            <div style="display: inline-block; padding: 0; width: 150px;">
                <a href="/plugins_manage?plugin=${plugin}&enable=${'0' if running else '1'}" class="button cDisable toggle ${'on' if running else 'off'}">
                    <span class='toggleleft'>On</span>
                    <span class='togglesep'>&nbsp;</span>
                    <span class='toggleright'>Off</span>
                </a>
            </div>

            <div style="display: inline-block; padding: 0;">
                ${plugins.plugin_name(plugin)}
            </div>
            <div style="clear:both; padding: 0;"></div>
        </div>
</div>