[Unit]
Description=OpenSprinkler Python

[Service]
WorkingDirectory="{{OSPY_DIR}}"
ExecStart=/usr/bin/python run.py
KillMode=process

[Install]
WantedBy=multi-user.target