$def with ()

$var title: OpenSprinkler Pi
$var page: home

$# For some reason the functions below do not work in a single $code block
$code:
    def two_digits(n):
        return '%02d' % int(n)

$code:
    def plugin_adjustment():
        # FIXME
        return 1.0

        #return '%.0f' % options.level_adjustment
        #result = 100.0
        #for entry in duration_adjustments:
        #    result *= entry/100.0
        #return '%.0f' % result
$code:
    def plugin_adjustment_list():
        return [1.0,]

        #duration_adjustments = options.level_adjustment
        #result = []
        #for entry in duration_adjustments:
        #    result.append('%.0f%%' % entry)
        #return ' * '.join(result)


<script>

    function formatLogline(log) {
        var lrsid = lrun[0], lrpid = lrun[1], lrdur = lrun[2], lret = lrun[3];
        if (lrpid == 0) {
            return "n/a";
        }
        var pname = "P" + lrpid;
        if (lrpid == 255 || lrpid == 99) {
            pname = "Manual Mode";
        }
        if (lrpid == 254 || lrpid == 98) {
            pname = "Run Once Program";
        }
        var runDate = (new Date(lret*1000)).toString(); // + timezoneSuffix; //dk
        return snames[lrsid] + " ran " + pname + " for " + (lrdur/60>>0) + "m" + (lrdur%60) + "s on " + runDate;
    }

    function updateStatus(status) {
        var display, updateInterval = 30000;
        for (var s=0; s<status.length; s++) {
            var station = status[s];
            var classes = "stationStatus station_" + station.status;
            switch (station.reason) {
                case "program" :
                    var minutes = Math.floor(station.remaining/60);
                    var seconds = Math.floor(station.remaining - 60*minutes);
                    if (minutes < 10) {minutes = "0"+minutes;}
                    if (seconds < 10) {seconds = "0"+seconds;}
                    if (station.status == "on") {
                        display = minutes+":"+seconds;
                    } else {
                        display = "(" + minutes+":"+seconds + ")";
                    }
                    updateInterval = 1000;
                    break;
                case "master" :
                    classes += " master";
                    if (station.status == "on") {
                        display = "Master On";
                    } else {
                        display = "Master Off";
                        classes += " strike";
                    }
                    break;
                case "rain_delay" :
                    display = "Suppressed by Rain Delay";
                    break;
                case "rain_sensed" :
                    display = "Suppressed by Rain Sensor";
                    break;
                default:
                    display = "Off";
            }
            jQuery("td#status" + station.station)
                .text(display)
                .removeClass()
                .addClass(classes);
        }
        setTimeout(statusTimer, updateInterval);
        if (updateInterval > 1000) {
            displayProgram();
        }
    }
    function statusTimer() {
        jQuery.getJSON("/api/status", updateStatus)
    }

    function countdownTimer(el) {
        alert(jQuery(el).html());
    }

    // Initialize behaviors
    jQuery(document).ready(function(){
        $if not options.manual_mode:
            statusTimer();

        jQuery("button#cStartStop").click(function(){
            jQuery("form[name='hf'] input[name='system_enabled']").val(system_enabled ? 0 : 1);
            jQuery("form[name='hf']").submit();
        });

        jQuery("button#cManual").click(function(){
            jQuery("form[name='hf'] input[name='manual_mode']").val(manual_mode ? 0 : 1);
            jQuery("form[name='hf']").submit();
        });

        jQuery("button#cRainDelay").click(function(){
            if (rain_block != 0) {
                var h = 0;
            } else {
                var h = prompt("Enter hours to delay", "0");
            }
            if (h != null){
                jQuery("form[name='hf'] input[name='rain_block']").val(h);
                jQuery("form[name='hf']").submit();
            }
        });

        jQuery("button#cWaterLevel").click(function(){
            if (level_adjustment != 1.0) {
                var w = 100;
            } else {
                var w = prompt("Enter percentage adjustment", level_adjustment*100);
            }
            if (w != null){
                jQuery("form[name='hf'] input[name='level_adjustment']").val(w);
                jQuery("form[name='hf']").submit();
            }
        });

        jQuery("button.manual").click(function () {
            sid = parseInt(jQuery(this).attr("id"));
            sbit = jQuery(this).hasClass("on");
            if (sbit) {
                window.location = "/sn?sid="+(sid+1)+"&set_to=0"; // turn off station
            } else {
                var strmm = jQuery("#mm"+sid).val();
                var strss = jQuery("#ss"+sid).val();
                var mm = (strmm == "" ? 0 : parseInt(strmm));
                var ss = (strss == "" ? 0 : parseInt(strss));
                if (!(mm >= 0 && ss >= 0 && ss < 60)) {
                    alert("Timer values wrong: " + strmm + ":" + strss);
                    return;
                }
                window.location = "/sn?sid=" + (sid+1) + "&set_to=1" + "&set_time=" + (mm*60+ss);  // turn it off with timer
            }
        });

        jQuery("button#pStopAll").click(function(){
            window.location="/?stop_all=1";
        });

        jQuery("button#pPrev").click(function() {
            displayScheduleDate.setDate(displayScheduleDate.getDate() - 1);
            displayProgram();
        });
        jQuery("button#pToday").click(function() {
            var day = new Date()//dk
            displayScheduleDate.setDate(day.getDate());
            displayScheduleDate.setMonth(day.getMonth()); //dk
            displayProgram();
        });
        jQuery("button#pNext").click(function() {
            displayScheduleDate.setDate(displayScheduleDate.getDate() + 1);
            displayProgram();
        });

        jQuery(".countdown").each(function() {
            countdownTimer(jQuery(this).attr('id'));
        });
    });

    function countdownTimer(timerId) {
        var timerElement = jQuery("#" + timerId);
        var remaining = parseFloat(timerElement.attr("data"));
        var rHours = Math.floor(remaining/3600);
        var rMinutes = Math.floor((remaining%3600)/60);
        if (rHours <=0 && rMinutes <=0) {
            window.location = "/";
        } else {
            timerElement.text((rHours<10 ? "0" : "") + rHours + ":" + (rMinutes<10 ? "0" : "") + rMinutes);
            setTimeout("countdownTimer('" + timerId + "')", 2000);
        }
    }
</script>
<div id="options">
    <button id="cStartStop" class="toggle ${'on' if options.system_enabled else 'off'}"><span class='toggleleft'>System On</span><span class='togglesep'>&nbsp;</span><span class='toggleright'>System Off</span></button>
    <br>
    <button id="cWaterLevel" class="toggle choice ${'on' if options.level_adjustment==1.0 else 'off'}"><span class='toggleleft'>Normal</span><span class='togglesep'>&nbsp;</span><span class='toggleright'>${'Water Level' if options.level_adjustment==1.0 else str(round(options.level_adjustment*100)) + '% Level'}</span></button>
    <br>
    <button id="cRainDelay" class="toggle ${'off' if rain_blocks.seconds_left() else 'on'}"><span class='toggleleft'>Active</span><span class='togglesep'>&nbsp;</span><span class='toggleright'>Rain Delay</span></button>
    $if rain_blocks.seconds_left():
        <span class="countdown" id="rainDelayCountdown" data="${str(rain_blocks.seconds_left())}"></span>
    $if inputs.rain_sensed():
        <span class="rainsense">Rain sensed</span>
    <br>
    <button id="cManual" class="toggle choice ${'off' if options.manual_mode else 'on'}"><span class='toggleleft'>Auto</span><span class='togglesep'>&nbsp;</span><span class='toggleright'>Manual</span></button>
</div>

<div id="stationsdiv">

$if options.manual_mode:
    <div id="manualmode">
        <table id="stations" class="stationList">
        $# Manual program control formatting
        $for station in stations:
            $if station.enabled:
                <tr>
                    <td class='station_name'>${station.name}</td>
                    $if station.is_master:
                        $if station.active:
                            <td class="master station_on" colspan="6">On (Master)</td>
                        $else:
                            <td class="master station_off" colspan="6">Off (Master)</td>
                    $else:
                        $if station.active:
                            $ rem = station.remaining_seconds()
                            <td class="shrink station_running"><button class='toggle manual narrow on' id='${station.index}'>
                            <span class='toggleleft'>On</span><span class='togglesep'>&nbsp;</span><span class='toggleright'>Off</span></button></td>
                            $if rem >= 0:
                                <td class="shrink station_running">in</td>
                                <td class="shrink station_running"><input type='text' id='mm${station.index}' size='2' maxlength='3' value='${two_digits(rem/60)}' readonly/></td>
                                <td class="shrink station_running">:</td>
                                <td class="shrink station_running"><input type='text' id='ss${station.index}' size='2' maxlength='2' value='${two_digits(rem%60)}' readonly/></td>
                                <td class="station_running">(mm:ss)</td>
                            $else:
                                <td class="shrink station_running" colspan="5">Forever</td>
                        $else:
                            <td class="shrink station_running"><button class='toggle manual narrow off' id='${station.index}'>
                            <span class='toggleleft'>On</span><span class='togglesep'>&nbsp;</span><span class='toggleright'>Off</span></button></td>
                            <td class="shrink station_running">for</td>
                            <td class="shrink station_running"><input type='text' id='mm${station.index}' size='2' maxlength='3' value='00'/></td>
                            <td class="shrink station_running">:</td>
                            <td class="shrink station_running"><input type='text' id='ss${station.index}' size='2' maxlength='2' value='00'/></td>
                            <td class="station_running">(mm:ss)</td>
                </tr>
        <tr>
            <td colspan="7">
                <button id="pStopAll" class="execute delete">Stop All Stations</button>
            </td>
        </tr>
        </table>
    </div>
$else:
    <div id="programmode">
        <table id="stations" class="stationList">
            <tr>
                <td colspan="2"></td>
                <td colspan="8">
                    <span id="displayScheduleDate"></span>
                </td>
                <td colspan="16" style="text-align:right">
                    <button id="pPrev" class="execute">&lt;&lt; Prev Day</button>
                    <button id="pToday" class="execute">Today</button>
                    <button id="pNext" class="execute">Next Day &gt;&gt;</button>
                </td>
            </tr>
            <tr><td colspan="2">
                $for hour in xrange(0, 24):
                    $ t = datetime.time(hour=hour, minute=0)
                    $if options.time_format:
                        <td class="scheduleTick">$t.strftime("%H:%M")</td>
                    $else:
                        <td class="scheduleTick">$t.strftime("%I %p").lstrip('0')</td>
            </tr>
            $for station in stations:
                <tr class="stationSchedule $loop.parity" id='schedule$loop.index' data="$loop.index0">
                    <td class='station_name'>$station.name</td>
                    <td id='status$loop.index0' class="stationStatus">loading...</td>
                    $for tick in xrange(0,24):
                        <td class="scheduleTick" data="$tick"></td>
                </tr>
            <tr>
                <td colspan="2">
                    <button id="pStopAll" class="execute delete">Stop All Stations</button>
                </td>
                <td colspan="24" id="legend" style="text-align:center">
                </td>
            </tr>
        </table>
    </div>

</div>

<div id="controls">
    <form name="hf" action="/" method="post">
        <input type="hidden" name="system_enabled">
        <input type="hidden" name="manual_mode">
        <input type="hidden" name="rain_block">
        <input type="hidden" name="level_adjustment">
    </form>
</div>

