$def with (errorCode)

$var title: Options
$var page: options

<script>
    var errorCode = "${errorCode}";
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("button#tooltips").click(function(){
            var visible = jQuery(this).text() == "Hide Tooltips";
            jQuery(this).text(visible ? "Show Tooltips" : "Hide Tooltips");
            jQuery(".tooltip").toggle();
        });

        jQuery("#cSubmit").click(function() {
            jQuery("#optionsForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

        jQuery(".collapsible h4").click(function(event){
            jQuery(this).parent(".category").toggleClass("expanded").toggleClass("collapsed");
        });

        switch (errorCode) {
            case "pw_wrong":
                jQuery("#erroropw").text("The password given was incorrect.");
                jQuery("#erroropw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
                break;
            case "pw_blank":
                jQuery("#errornpw").text("Please enter a password.");
                jQuery("#errornpw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
                break;
            case "pw_mismatch":
                jQuery("#errorcpw").text("Passwords done't match, please re-enter.");
                jQuery("#errorcpw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
                break;
        }

        jQuery(".collapsible h4").first().parent(".category").toggleClass("expanded").toggleClass("collapsed");

    });

</script>
<div id="options">
    <div class="title">Edit Options</div>
    <button id="tooltips">Show Tooltips</button>
    <form id="optionsForm" name="of" action="/options" method="post">
    $code:
        output = ""
        oldcategory = ""
        categoryCloser = ""
        for option in options.OPTIONS:
            if 'category' in option:
                name = option['key']
                label = option['name']
                category = option['category']
                tooltip = option['help']
                value = options[option['key']]
                enum = option.get('options')
                if hasattr(enum, '__call__'):
                    enum = enum()
                multi_enum = option.get('multi_options', [])
                if hasattr(multi_enum, '__call__'):
                    multi_enum = multi_enum()
                multi_enum_names = option.get('multi_options_names')
                if hasattr(multi_enum_names, '__call__'):
                    multi_enum_names = multi_enum_names()
                if multi_enum and not multi_enum_names:
                    multi_enum_names = {}
                    for opt in multi_enum:
                        multi_enum_names[opt] = opt
                minv = " min='" + str(option['min']) + "'" if 'min' in option else ""
                maxv = " max='" + str(option['max']) + "'" if 'max' in option else ""

                if category != oldcategory:
                    output += categoryCloser + "<div class='category collapsible collapsed'><h4>" + category + "</h4>"
                    categoryCloser = "</div>"
                    oldcategory = category

                if name == 'master_on_delay':
                    output += "<div class='option' title='Specify which output should be used as master station.'><span class='label'>Master station:</span>\n"
                    output += "<select name='master'>\n"
                    if stations.master is None:
                        output += "<option value='-1' selected='selected'>None</option>"
                    else:
                        output += "<option value='-1'>None</option>"
                    for station in stations.get():
                        sel = " selected='selected'" if station.index == stations.master else ""
                        output += "<option value='" + str(station.index) + "'" + sel + ">" + station.name + " (Output " + str(station.index+1) + ")</option>"
                    output += "</select>\n"
                    output += "<span class='tooltip'>Specify which output should be used as master station.</span>\n"
                    output += "</div>\n"

                output += "<div class='option' title='" + tooltip + "'><span class='label'>" + label + ":</span>\n"
                if enum:
                    output += "<select name='" + name + "'>\n"
                    for e in enum:
                        sel = " selected='selected'" if value == e else ""
                        output += "<option value='" + e + "'" + sel + ">" + e + "</option>"
                    output += "</select>\n"
                elif multi_enum:
                    output += "<div style='display: inline-block'>\n"
                    for e in multi_enum:
                        sel = " checked" if e in value else ""
                        output += "<input name='" + name + "_" + e + "' type='checkbox'" + sel + ">" + multi_enum_names[e] + "<br>\n"
                    output += "</div>\n"
                elif isinstance(value, bool):
                    output += "<input name='" + name + "' type='checkbox' " + ("checked" if value>0 else "") + ">\n"
                elif isinstance(value, int):
                    output += "<input name='" + name + "' type='number'" + minv + maxv + " size='3' maxlength='3' value='" + str(value) + "'>\n"
                else:
                    output += "<input name='" + name + "' type='text' size='31' value='" + str(value) + "'>\n"


                output += "<span class='tooltip'>" + tooltip + "</span>\n"
                output += "</div>\n\n"
                if name == 'no_password':
                    output += "<div class='option' title='Re-enter the current password.'><span class='label'>Current password:</span>\n"
                    output += "<input name='old_password' type='password' size='31'><span class='inputError' id='erroropw'></span>\n"
                    output += "<span class='tooltip'>Re-enter the current password.</span>\n"
                    output += "</div>\n"
                    output += "<div class='option' title='Enter a new password.'><span class='label'>New password:</span>\n"
                    output += "<input name='new_password' type='password' size='31'><span class='inputError' id='errornpw'></span>\n"
                    output += "<span class='tooltip'>Enter a new password.</span>\n"
                    output += "</div>\n"
                    output += "<div class='option' title='Confirm the new password.'><span class='label'>Confirm password:</span>\n"
                    output += "<input name='check_password' type='password' size='31'><span class='inputError' id='errorcpw'></span>\n"
                    output += "<span class='tooltip'>Confirm the new password.</span>\n"
                    output += "</div>\n"
        output += categoryCloser
    $:{output}
    </form>
</div>

<div id="controls">
    <button id='cSubmit' class="submit">Submit Changes</button>
    <button id='cCancel' class="cancel danger">Cancel</button>
</div>
