$def with (program)

$var title: Modify Program
$var page: programs

$code:
    def two_digits(n):
        return '%02d' % int(n)


<script>
    $for index, name in ProgramType.NAMES.iteritems():
        var ${name} = ${index};
    // Initialize behaviors
    jQuery(document).ready(function(){
        jQuery("#cSubmit").click(function() {
            jQuery("#programForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/programs";
        });
        jQuery("button.station.toggle").click(function(){
            var id = jQuery(this).attr("id");
            var state = jQuery(this).hasClass("on");
            jQuery(this)
                .addClass(state ? "off": "on")
                .removeClass(state ? "on" : "off");
            var stations = jQuery(".station.on").map(function() {
                return jQuery(this).attr("id").replace("station", "");
            }).get();
            jQuery("#stations").val('[' + stations.join(', ') + ']');
            return false;
        });
    });
</script>

<div id="programs">
    <div class="title">${"Add a New Program" if program.index < 0 else "Edit Program #" + str(program.index+1)}</div>
    <form name="programForm" id="programForm" method="post">
        <input type="hidden" name="index" value="${program.index}">
        <input type="hidden" id="stations" name="stations" value="${program.stations}">

        <div class="simpleblock">
            <div style="display: inline-block; box-sizing: border-box; vertical-align: top; min-width: 50%">
                <div class='option' style="white-space: nowrap">
                    <span class="program_label">Name:</span>
                    <input name="name" type="text" value="${program.name}" style="width: 140px">
                </div>

                <div class='option' style="white-space: nowrap">
                    <span class="program_label">Enabled:</span>
                    <input name="enabled" type="checkbox" ${'enabled' if program.enabled else ''}>
                </div>

                <div class='option' style="white-space: nowrap">
                    <span class="program_label">Schedule type:</span>
                    <select name="schedule_type" style="width: 140px">
                        $for value, name in ProgramType.FRIENDLY_NAMES.iteritems():
                            <option value="${value}" ${'selected="selected"' if program.type == value else ''}>${name}</option>
                    </select>
                </div>

            </div>
            <div style="display: inline-block; box-sizing: border-box; vertical-align: top;">
            $for station in stations.get():
                $if station.enabled and not station.is_master:
                    <div style="padding: 0; white-space: nowrap;">
                        <div class="program_label">${station.name}:</div>
                        <div style="display: inline-block; padding: 0">
                            <button id="station${station.index}" class="station toggle narrow ${'on' if station.index in program.stations else 'off'}">
                                <span class="toggleleft">On</span>
                                <span class="togglesep">&nbsp;</span>
                                <span class="toggleright">Off</span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </form>
</div>

<div id="controls">
    <button id="cSubmit" class="submit"><b>Save</b></button>
    <button id="cCancel" class="cancel danger">Cancel</button>
    <span id="errorHint"></span>
</div>