$def with ()

$var title: Run-Once
$var page: runonce

<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            var hours = jQuery("input[id^='mm']").map(function() {
                return jQuery(this).attr("id");
            }).get();
            var minutes = jQuery("input[id^='ss']").map(function() {
                return jQuery(this).attr("id");
            }).get();
            for (var i = 0; i < hours.length; i++) {
                var hour = parseInt(jQuery('#' + hours[i]).val());
                var minute = parseInt(jQuery('#' + minutes[i]).val());
                hour = (isNaN(hour) ? 0 : hour);
                minute = (isNaN(minute) ? 0 : minute);
                if (hour < 0 || minute < 0 || minute > 59) {
                    alert("All values should be positive and seconds should not exceed 59.");
                    return false;
                }
                if (hour > 0 || minute > 0) anything = true;
            }
            jQuery("#runonceForm").submit();
        });

        jQuery("#cResetTime").click(function(){
            jQuery("input[type='number']").val(0);
        });

        jQuery("#cCancel").click(function(){
            window.location="/";
        });

    });
</script>

<div id="runonce">
    <div class="title">Run Once Program</div>
    <form id="runonceForm" method="post">
        <table class="stationList">
            $for station in stations.enabled_stations():
                <tr>
                    <td class='station_name'>${station.name}</td>
                    <td>
                        <input id="mm${station.index}" name="mm${station.index}" type="number" size="3" maxlength="3" value="0" min="0" max="999">:
                        <input id="ss${station.index}" name="ss${station.index}" type="number" size="2" maxlength="2" value="0" min="0" max="59"> (mm:ss)
                    </td>
                </tr>

        </table>
    </form>
</div>

<div id="controls">
    <button id="cSubmit" class="submit"><b>Run Now</b></button>
    <button id="cResetTime" class="refresh">Reset Time</button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>
