$def with ()

$var title: Stations
$var page: stations

<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#stationsForm").submit();
        });

        jQuery("button#cResetNames").click(function(){
            jQuery("input[type='text']").each(function () {
                jQuery(this).val("S" + (parseInt(jQuery(this).attr("name").substring(1)) + 1));
            });
            jQuery(".stationShow input").each(function () {
                jQuery(this).prop('checked', true);
            });
        });

        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

    });

</script>
<div id="stations">
    <div class="title">Configure Stations</div>
    <form id="stationsForm" name="stationsForm" action="/stations" method="post">
        <table class="stationList">
            <tr>
                <th class="stationNumber">Station</th>
                <th class="stationName">Name</th>
                <th class="stationShow">Connected?</th>
                <th class="stationIgnore">Ignore Rain?</th>
                $if stations.master is not None:
                    <th class="stationMaster">Activate Master?</th>
            </tr>
            $for station in stations.get():
                <tr>
                    <td class="stationNumber">${station.index + 1}</td>
                    <td class="stationName">
                        <input type="text" size="32" value="${station.name}" name="${station.index}_name">
                    </td>
                    $if station.is_master:
                        <td class="stationMaster" colspan="3">(Master station)</td>
                    $else:
                        <td class="stationShow">
                            <input type="checkbox" ${"checked" if station.enabled else ""} name="${station.index}_enabled">
                        </td>
                        <td class="stationIgnore">
                            <input type="checkbox" ${"checked" if station.ignore_rain else ""} name="${station.index}_ignore_rain">
                        </td>
                        $if stations.master is not None:
                            <td class="stationMaster">
                                <input type="checkbox" ${"checked" if station.activate_master else ""} name="${station.index}_activate_master">
                            </td>
                </tr>

        </table>

        <p></p>
    </form>
</div>

<div id="controls">
    <button id="cSubmit" class="submit">Submit Changes</button>
    <button id="cResetNames" class="refresh">Reset Names</button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>
