$def with ()
<!--FIXME maybe it's a good idea to avoid passing all as global context -->
$var title: options.name Stations
$var page: stations


<script>
    jQuery(document).ready(function(){
        // Submit
        jQuery("button#cSubmit").click(function(){
            // FIXME - just make it in json and post it, damned ....
            var id, name, en, ir, am;
            for (id = 0; id < ${stations.count()}; id++) {
                name = jQuery("input#n"+id).val();
                en = jQuery("input#en"+id).is(":checked");
                ir = jQuery("input#ir"+id).is(":checked");
                am = jQuery("input#am"+id).is(":checked");

                jQuery("input#"+id+"_name").val(name);
                jQuery("input#"+id+"_enabled").val(en);
                jQuery("input#"+id+"_ignore_rain").val(ir);
                jQuery("input#"+id+"_activate_master").val(am);
            }
            jQuery("#stationsForm").submit();
        });

        // Reset names
        jQuery("button#cResetNames").click(function(){
            jQuery("input[type='text']").each(function () {
                jQuery(this).val("Station " + (parseInt(jQuery(this).attr("name").substring(1)) + 1));
            });
            jQuery(".stationEnabled input").each(function () {
                jQuery(this).prop('checked', true);
            });
        });

        // Cancel
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });
    });
</script>

<div id="stations">
    <div class="title">Configure Stations</div>
    <table class="stationList">
        <tr>
            <th class="stationNumber">Station</th>
            <th class="stationName">Name</th>
            <th class="stationEnabled">Connected?</th> <!-- Enabled -->
            <th class="stationIgnoreRain">Ignore Rain?</th>
            $if stations.master:
                <th class="activateMaster">Activate Master?</th>
        </tr>
        $for station in stations:
            <tr>
                <td class="stationNumber">${station.index + 1}</td>
                <td class="stationName">
                    <!-- FIXME stations name length hardcoded here -->
                    <input type="text" size="32" maxlength="32" value="${station.name}" name="s${station.index}" id="n${station.index}">
                </td>
            $if station.is_master:
                <td class="activateMaster" colspan="4">(Master valve)</td>
            $else:
                <td class="stationEnabled">
                    <input type="checkbox" ${"checked" if station.enabled else ""} id="en${station.index}">
                </td>
                <td class="stationIgnoreRain">
                    <input type="checkbox" ${"checked" if station.ignore_rain else ""} id="ir${station.index}">
                </td>
            $if stations.master and stations.master != station.index:
                <td class="activateMaster">
                    <input type="checkbox" ${"checked" if station.activate_master else ""} id="am${station.index}">
                </td>
            </tr>
    </table>

    <p>Enable master in options</p>

    <form id="stationsForm" name="stationsForm" action="/stations" method="POST">
    <!--Fun with HTML froms and tables .. hint -- they cannot be mixed with one another-->
    $for station in stations:
        <!-- name -->
        <input type="hidden" id="${station.index}_name" name="${station.index}_name"/>
        <!-- enabled -->
        <input type="hidden" id="${station.index}_enabled" name="${station.index}_enabled"/>
        <!-- ignore rain -->
        <input type="hidden" id="${station.index}_ignore_rain" name="${station.index}_ignore_rain"/>
        <!-- trigger master -->
        <input type="hidden" id="${station.index}_activate_master" name="${station.index}_activate_master"/>
    </form>
</div>

<div id="controls">
    <button id="cSubmit" class="submit">Submit Changes</button>
    <button id="cResetNames" class="refresh">Reset Names</button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>
