$def with(m_vals)

$var title: OpenSprinkler Pi System information
$var page: plugins

<div id="plugin">
    <div class="title">System information</div>
    <p>This plugin print system informations from OS.</p>
    <form id="pluginForm" action="/info" method="get">
        <table class="InfoList">
            <tr>
                <td style='text-transform: none;'>Status:</td>
                <td>
                    <textarea style="font-family: monospace;" rows="7" cols="100" readonly>$m_vals['status']</textarea><br/>
                </td>
            </tr>
        </table>
    </form>
</div>
